@use "variables";

@mixin btn($background, $color) {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: $background;
    color: $color;
    font-size: 1rem;
    font-weight: bold;
}

@mixin img($max-width) {
    padding: 10px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    img {
        flex: 1;
        max-width: $max-width;
        height: auto;
        object-fit: cover;
        padding: 10px;
    }
}